@model Product

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Demo4_rooting_formulaire</title>
</head>
<body>
    <form asp-action="CreerProduct" method="post">
        <div>
            <label asp-for="Name"></label>
            <input asp-for="Name" />
            <span asp-validation-for="Name"></span>
        </div>
        <div>
            <label asp-for="Price"></label>
            <input asp-for="Price" />
            <span asp-validation-for="Price"></span>
        </div>
        <div>
            <label asp-for="Category"></label>
            <input asp-for="Category" />
            <span asp-validation-for="Category"></span>
        </div>
      
        <div asp-validation-summary="All">

        </div>

        <button type="submit">Envoyer</button>
    </form>

</body>
</html>
