body{
    background-color: grey;
    font-family: Verdana, sans-serif;
    margin: 20px;
}
#Hobby
ol li:nth-Child(1) {
        color: red;
        font-family: "Arial", sans-serif;
    }
  ol li:nth-Child(2) {
        color: blue;
        font-family: "Courier New", monospace;
    }
   ol li:nth-Child(3) {
        color: green;
        font-family: "Times New Roman", serif;
    }