<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Index - Exercice1</title>
</head>
<body>
	<p> Bienvenue a la page index  </p>
	<p> Le nombre aleatoire generé est : @ViewData["NombreAleatoire"]</p>

</body>
</html>
