<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Index - Demo1_Controllers</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
</head>
<body>
    <main>
		<h1>Vous êtes sur la page Afficher Chien !</h1>
		<p>@ViewData["Chien"].ToString()</p>
    </main>
</body>
</html>
